.section_title {
    font-size: 14px;
    font-weight: 500;
    padding: 0;
    line-height: 1px;
    margin: 0 0 5px 0;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #aaaaaa;
    font-family: "Poppins", sans-serif;
}
.section_title::after {
    content: "";
    width: 120px;
    height: 1px;
    display: inline-block;
    background: black;
    margin: 4px 10px;
}
.main_title {
    margin: 0;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    color: black;
}
.main_box{
    background-color: #717378;
    border-radius: 20px;
    height: 450px;
    width: 20rem;
    margin-bottom: 5rem;
}
.display{
    position: relative;
    top: 40px;
    display: flex;
    justify-content: center;
}
.image{
    width: 15.625rem;
    border-radius: 20px;
    border: 5px solid black;
}
.ipod_box{
    display: flex;
    justify-content: end;
    padding: 0px;
}
.main_circle{
    position: relative;
    top: 60px;
    margin: 0 auto;
    background-color: rgb(61, 60, 60);
    height: 200px;
    width: 200px;
    border-radius: 50%;
}
.second_circle{
    position: relative;
    top: 70px;
    margin: 0 auto;
    background-color: #717378;
    height: 60px;
    width: 60px;
    border-radius: 50%;
}
.menu{
    position: absolute;
    top: 25px;
    left: 80px;
}
.foward{
    position: absolute;    
    top:85px;
    right: 25px;
}
.play{
    position: absolute;
    bottom: 10px;
    left: 95px;
}
.back{
    position: absolute;
    top:85px;
    left: 25px;
}